.intermedio {
	-fx-background-image: url(nodo-intermedio.png);
}

.intermedio-critico {
	-fx-background-image: url(nodo-intermedio-critico.png);
}

.final {
	-fx-background-image: url(nodo-final.png);
}
.inicial {
	-fx-background-image: url(nodo-inicial.png);
}

.nodo {
	-fx-pref-width: 102px;
	-fx-pref-height: 80px;
	-fx-alignment: center;
}

.nodo:hover{
	-fx-cursor:hand;
}

.nodo .hbox {
	-fx-max-width: 75px;
	-fx-alignment: center;
}

.nodo .hbox .label{
	-fx-alignment: center;
	-fx-min-width: 35px;
}

.critica {
	-fx-stroke: red;
}